@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+Infant:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ysabeau Infant', sans-serif; */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Ysabeau Infant', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*:root {
    --base-color: #535353;
}

body {
    background: rgb(240, 240, 240);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.arrangeVert2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.firstDivH {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.3rem;
    /* align-items: center; */
}

.arrangeGenFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrangeGenFlex #carouselExample {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.arrangeGenFlex #carouselExample .carousel-inner {
    margin: auto 0;
    height: 100%;
}

.majorFocusSpan {
    color: var(--base-color);
}

.firstPageP {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}


.mainHeadingG {
    line-height: 60px;
    font-weight: 600;
}

.homeButtons {
    display: flex;
    gap: 2rem;
}

.homeButtons a {
    text-decoration: none;
    color: var(--base-color);
}

.homeButtons a:nth-child(1) {
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.4s ease;
    border: 1px solid var(--base-color);
}

.homeButtons a:nth-child(1):hover {
    background: var(--base-color);
    color: white;
}

.homeButtons a:nth-child(2) {
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.4s ease;
    background: var(--base-color);
    color: white;
    border: 1px solid var(--base-color);
}

.homeButtons a:nth-child(2):hover {
    border: 1px solid var(--base-color);
    background: transparent;
    color: var(--base-color);
}







.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}







.button2 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button2::before,
.button2::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button2::before {
    top: 0;
    border-bottom-width: 0;
}

.button2::after {
    bottom: 0;
    border-top-width: 0;
}

.button2:active,
.button2:focus {
    outline: none;
}

.button2:active::before,
.button2:active::after {
    right: 3px;
    left: 3px;
}

.button2:active::before {
    top: 3px;
}

.button2:active::after {
    bottom: 3px;
}

.button2 .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button2 .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button2 .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button2 .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #4696ff;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button2 .button_text {
    position: relative;
}

.button2:hover {
    color: #0f1923;
}

.button2:hover .button_sl {
    width: calc(100% + 15px);
}

.button2:hover .button_lg::after {
    background-color: #fff;
}



@media only screen and (max-width: 768px) {
    .arrangeVert2 {
        display: block;
    }

    .firstDivH {
        text-align: center;
        padding: 1.5rem;
    }

    .arrangeGenFlex #carouselExample {
        width: 100%;
    }

    .homeButtons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeButtons a {
        margin-bottom: 1rem;
    }
}